/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

h1 {
    margin: 0;
}

.volume-control {
    margin-right: 20px;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.artist {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.artist.major {
    background-color: #f0f0f0;
    border: 2px solid #000;
}

.artist h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.artist:hover {
    background-color: #e0e0e0;
}

.clickable {
    cursor: pointer;
}

audio {
    display: none;
    /* Hide the audio element */
}

#player {
    display: none;
    /* Initially hide the player div */
}

.no-preview {
    background-color: #f0f0f0;
    color: grey;
    border: 2px solid grey;
}

.no-preview-message {
    font-size: 0.8em;
    color: grey;
}

#player {
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#spotify-link a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1.2em;
}

#spotify-link a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .artist {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.genre-section {
    margin-bottom: 40px;
}

.genre-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.genre-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.genre-card:hover {
    transform: scale(1.05);
    background-color: #ddd;
}

.genre-card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
