/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

h1 {
    margin: 0;
}

.volume-control {
    margin-right: 20px;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.artist {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.artist.major {
    background-color: #f0f0f0;
    border: 2px solid #000;
}

.artist h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.artist:hover {
    background-color: #e0e0e0;
}

#player {
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#spotify-link a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1.2em;
}

#spotify-link a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .artist {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }
}