<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playing {{ track.name }}</title>
</head>

<body>
    <h1>Now Playing: {{ track.name }}</h1>
    <p>Artist: {{ track.artists[0].name }}</p>
    <audio controls>
        <source src="{{ track.preview_url }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <br>
    <a href="{{ url_for('index') }}">Back to genres</a>
</body>

</html>